html {
  height: 100%;
}
body,
#root {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  min-height: 100%;

  color: white;
  background-color: #404040;
}
div {
  margin: 0px 0px;
}

.hidden {
  visibility: hidden;
}

.FlexTop {
  flex: 1;
}
.FlexBottom {
  flex: initial;
}

.AllGames {
  width: 100%;
  height: calc(100% - 50px);

  display: flex;
  justify-content: space-around;
}

.PrimaryInfo {
  height: 92%;
  padding-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.PrimaryCanvasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.GridCanvas {
  width: 300px;
  height: 660px;
  border-color: white;
  border-width: 9px;
  border-style: double;
}

.EnemyContainer {
  text-align: center;
}
.EnemyGames {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 357px;
}
.EnemyCanvasWrapper {
  width: 50%;
  box-sizing: border-box;
}
.EnemyCanvas {
  width: 135px;
  height: 297px;
  margin: 10px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
}


@media (max-width: 1000px) {
  .SoundBar,
  .EnemyContainer {
    display: none;
  }
  .GridCanvas {
    width: 200px;
    height: 440px;
    border-style: solid;
    border-width: 5px;
  }
}
